{% import '../../macros/_style.html' %}

<div id="{{ name }}" class="services relative">
  <div class="services__inner swiper{{ ' animated' if module.style.animated_module }}"
  {{ setSliderAttr(module.style) }}
  {{ setAnimationAttr(module.style) if module.style.animated_module }}>
    <ul class="services__inner__container swiper-wrapper flex">
    {% for item in module.service %}
      <li class="services__inner__container__item swiper-slide flex flex-col justify-end min-h-[472px] relative overflow-hidden border border-solid border-purple-950 rounded-2xl">
        {% if item.display_link %}
          {% set href = item.link.url.url.href %}
          {% if item.link.url.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          <a class="inline-flex absolute z-30 w-full h-full top-0 left-O" href="{{ href|escape_url }}" aria-label="{{ item.description|sanitize_html('STRIP') }}"
            {% if item.link.url.open_in_new_tab %}target="_blank"{% endif %}
            {% if item.link.url.rel %}rel="{{ item.link.url.rel|escape_attr }}"{% endif %}
            >
          </a>
        {% endif %}
        {% if item.image_field.src %}
        <picture class="services__inner__container__item__image-container flex absolute z-10 w-full h-full top-0 left-O">
          {% if item.device_variant.mobile.image_field.src %}
          <source media="(max-width: 768px)" srcset="{{ item.device_variant.mobile.image_field.src }}">
          {% endif %}
          {% if item.device_variant.tablet.image_field.src %}
          <source media="(max-width: 1024px)" srcset="{{ item.device_variant.tablet.image_field.src }}">
          {% endif %}            
          {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
          {% if item.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
          <img class="w-full h-full object-cover" src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          </picture>
          {% endif %}        
        <div class="services__inner__container__item__description flex relative z-20 min-w-[240px] px-6 py-4">{{ item.description }}</div>
        <div class="services__inner__container__item__icon-container flex justify-center items-center absolute z-20 w-[35px] h-[35px] top-0 right-0 p-2 bg-purple rounded-bl-lg">
          {% icon
            name="{{ item.link.icon_field.name }}"
            style="{{ item.link.icon_field.type }}"
            unicode="{{ item.link.icon_field.unicode }}"
            icon_set="{{ item.link.icon_field.icon_set }}"
          %}        
        </div>
        </li>
      {% endfor %}
      </ul>
      </div>
  <div class="swiper-button-prev left-[-64px]"></div>
  <div class="swiper-button-next right-[-64px]"></div>
  <div class="swiper-pagination bottom-[-32px] flex left-0 text-start gap-x-2"></div>
  </div> 
{% require_css %}
  <style>
  #{{ name }} {
    {{ module.style.desktop.spacing.css }}
  }
  
  #{{ name }} .services__inner__container__item::after {
    content: "";
    display: flex;
    position: absolute;
    z-index: 15;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px -189px 50px -99px #02040F inset;
    opacity: 0.4;
  }

  #{{ name }} .services__inner__container__item__icon-container svg {
    transform: rotate(45deg);
  }

  #{{ name }} .services__inner__container__item__icon-container svg path {
    fill: white;
  }

  #{{ name }} .swiper-button-prev,
  #{{ name }} .swiper-button-next {
      color: var(--grey);
  }

  #{{ name }} .swiper-button-prev:hover,
  #{{ name }} .swiper-button-next:hover {
    color: var(--body-color);
  }  

  #{{ name }} .swiper-pagination-bullet {
    background: var(--grey-dark);
  }

  #{{ name }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--body-color);
  }

  @media (max-width: 1024px) {
    #{{ name }} {
      {{ module.style.tablet.spacing.css }}
    }
  }

  @media (max-width: 768px) {
    #{{ name }} {
      {{ module.style.mobile.spacing.css }}      
    }
  }

  @media (min-width: 1024px) {
    #{{ name }} .services__inner {
      padding-right: 64px;
    }
  }
  </style>
{% end_require_css %}