{% import '../../macros/_style.html' %}

<div id="{{ name }}" class="services">
  <div class="services__inner">
    <ul class="services__inner__container">
    {% for item in module.service %}
      <li class="services__inner__container__item">
        {% if item.display_link %}
          {% set href = item.link.url.url.href %}
          {% if item.link.url.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href|escape_url }}"
            {% if item.link.url.open_in_new_tab %}target="_blank"{% endif %}
            {% if item.link.url.rel %}rel="{{ item.link.url.rel|escape_attr }}"{% endif %}
            >
          </a>
        {% endif %}

        <picture class="services__inner__container__item__image-container">
          {% if item.image_field.src %}
            {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
            {% if item.image_field.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif item.image_field.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
              {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
            <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}        
        </picture>

        <div class="services__inner__container__item__description">{{ item.description }}</div>

        <div class="services__inner__container__item__icon-container">
          {% icon
            name="{{ item.link.icon_field.name }}"
            style="{{ item.link.icon_field.type }}"
            unicode="{{ item.link.icon_field.unicode }}"
            icon_set="{{ item.link.icon_field.icon_set }}"
          %}        
        </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>