{% import '../../macros/_style.html' %}

<div id="{{ name }}" class="logo-slider">
  <div class="logo-slider__inner swiper{{ ' animated' if module.style.animated_module }}"
  {{ setSliderAttr(module.style) }}
  {{ setAnimationAttr(module.style) }}> 
    <ul class="logo-slider__inner__container swiper-wrapper">
      {% for item in module.logo %}
        <li class="logo-slider__inner__container__item swiper-slide">
          <picture class="logo-slider__inner__container__item__image">
            {% if item.device_variant.mobile.image_field.src %}
            <source media="(max-width: 768px)" srcset="{{ item.device_variant.mobile.image_field.src }}">
            {% endif %}
            {% if item.device_variant.tablet.image_field.src %}
            <source media="(max-width: 1024px)" srcset="{{ item.device_variant.tablet.image_field.src }}">
            {% endif %}    
            {% if item.image_field.src %}
            {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
            {% if item.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif item.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
            <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </picture>      
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% require_css %}
  <style>
  #{{ name }} .logo-slider__inner {
  {% if module.style.desktop.container.border_width > 0 %}
    border: {{ module.style.desktop.container.border_width ~ 'px' }} solid var(--{{ module.style.desktop.container.border_color }});
    border-radius: {{ module.style.desktop.container.border_radius ~ 'px' }};
  {% endif %}
  {% if module.style.desktop.container.background_color != 'transparent' %}
    background: var(--{{ module.style.desktop.container.background_color }});
  {% endif %}
  {{ module.style.desktop.container.spacing.css }}
  }

  {% if module.style.display_shadow %}
  #{{ name }} .logo-slider__inner::after {
      content: "";
      display: flex;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: {{ module.style.desktop.container.shadow_width ~ 'px' }} 0px 50px -40px var(--{{ module.style.shadow_color }}) inset,
       -{{ module.style.desktop.container.shadow_width ~ 'px' }} 0px 50px -40px var(--{{ module.style.shadow_color }}) inset;
  }
  {% endif %}

  @media (max-width: 1024px) {
  #{{ name }} .logo-slider__inner {
  {% if module.style.tablet.container.border_width > 0 %}
    border: {{ module.style.tablet.container.border_width ~ 'px' }} solid var(--{{ module.style.tablet.container.border_color }});
    border-radius: {{ module.style.tablet.container.border_radius ~ 'px' }};
  {% endif %}
  {% if module.style.tablet.container.background_color != 'transparent' %}
    background: var(--{{ module.style.tablet.container.background_color }});
  {% endif %}
  {{ module.style.tablet.container.spacing.css }}
  }

  {% if module.style.display_shadow %}
  #{{ name }} .logo-slider__inner::after {
    box-shadow: {{ module.style.tablet.container.shadow_width ~ 'px' }} 0px 50px -40px var(--{{ module.style.shadow_color }}) inset,
      -{{ module.style.tablet.container.shadow_width ~ 'px' }} 0px 50px -40px var(--{{ module.style.shadow_color }}) inset;
  }
  {% endif %}
  }

  @media (max-width: 768px) {
  #{{ name }} .logo-slider__inner {
  {% if module.style.mobile.container.border_width > 0 %}
    border: {{ module.style.mobile.container.border_width ~ 'px' }} solid var(--{{ module.style.mobile.container.border_color }});
    border-radius: {{ module.style.mobile.container.border_radius ~ 'px' }};
  {% endif %}
  {% if module.style.mobile.container.background_color != 'transparent' %}
    background: var(--{{ module.style.mobile.container.background_color }});
  {% endif %}
  {{ module.style.mobile.container.spacing.css }}
  }  
  {% if module.style.display_shadow %}
  #{{ name }} .logo-slider__inner::after {
    box-shadow: {{ module.style.mobile.container.shadow_width ~ 'px' }} 0px 50px -40px var(--{{ module.style.shadow_color }}) inset,
      -{{ module.style.mobile.container.shadow_width ~ 'px' }} 0px 50px -40px var(--{{ module.style.shadow_color }}) inset;
  }
  {% endif %}  
  }
  </style>
{% end_require_css%}