#header {
    position: fixed;
    z-index: 100;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    {{ theme.header.layout.xs.spacing.css }}
    margin-inline: auto;    
    {% if theme.header.background_color != "none" %}
    background-color: {{ theme.header.background_color }};
    {% endif %}    
    {{ theme.header.layout.xs.container_spacing.css }}
    {% if theme.header.border_color != "none" %}
    border: {{ theme.header.border_width ~ 'px' }} solid {{ theme.header.border_color }};
    border-radius: {{ theme.header.border_radius ~ 'px' }};
    {% endif %}
}

#header .dnd-row .row-fluid [class*="span"] {
    flex: 0 0 auto;
    width: auto;
}

@media (min-width: 768px) {
    #header {
        max-width: {{ theme.layout.md.max_width ~ 'px' }};
        {{ theme.header.layout.md.container_spacing.css }}
    }
}

@media (min-width: 1024px) {
    #header {
        max-width: {{ theme.layout.xl.max_width ~ 'px' }};
        {{ theme.header.layout.xl.container_spacing.css }}
    }
}