{% import '../../macros/_style.html' %}

<div id="{{ name }}" class="features dnd-row">
  <div class="features__inner row-fluid{{ ' animated' if module.style.animated_module }}"
  {{ setAnimationAttr(module.style) if module.style.animated_module }}>
    {% for item in module.feature %}
    <div class="features__inner__item span{{ 12 / module.style.items_per_row|round }}">
      <div class="features__inner__item__inner flex flex-col md:flex-row ">
      {% if item.icon_field.src %}
        <picture class="features__inner__item__inner__icon flex h-fit w-fit shrink-0">
          <img src="{{ item.icon_field.src|escape_url }}" alt="{{ item.icon_field.alt|escape_attr }}" loading="lazy" width="{{ module.style.desktop.icon.width }}" height="{{ module.style.desktop.icon.width }}">
        </picture>
        {% endif %}
        <div class="features__inner__item__inner__text flex flex-col">
          <span class="features__inner__item__inner__text__title title-display">{{ item.title }}</span>
          <span class="features__inner__item__inner__text__description">{{ item.description }}</span>
        </div>
      </div>
    </div>
    {% endfor %}    
  </div>
</div>
{% require_css %}
<style>
  #{{ name }}  {
    text-align: {{ module.style.desktop.text_alignment }};
    {{ module.style.desktop.spacing.css }}
  }

  #{{ name }} .features__inner__item__inner {
    align-items: {{ module.style.desktop.alignment }};
    gap: {{ module.style.desktop.feature.gap ~ 'px' }};
    {% if module.style.desktop.feature.background_color != 'transparent' %}
    background-color: var(--{{ module.style.desktop.feature.background_color }});
    {% endif %}
    {% if  module.style.desktop.feature.border.radius > 0 %}
    border-radius: {{ module.style.desktop.feature.border.radius ~ 'px' }};
    {% endif %}
    {{ module.style.desktop.feature.border.style.css }}
    {{ module.style.desktop.feature.spacing.css }}
  }

  #{{ name }} .features__inner__item__inner__text {
    text-align: {{ module.style.desktop.text_alignment }};
    gap: {{ module.style.desktop.feature.text_spacing ~ 'px' }}
  }

  #{{ name }} .features__inner__item__inner__icon {
    background-color: var(--{{ module.style.desktop.icon.background_color }});
    {% if module.style.desktop.icon.border.radius > 0 %}
    border-radius: {{ module.style.desktop.icon.border.radius ~ 'px' }};
    {% endif %}    
    {% if module.style.desktop.icon.border.width > 0 %}
    border: {{ module.style.desktop.icon.border.width ~ 'px' }} solid var(--{{ module.style.desktop.icon.border.color }});
    {% endif %}
    {{ module.style.desktop.icon.spacing.css }}    
  }

  #{{ name }} .features__inner__item__inner__icon img {
    width: {{ module.style.desktop.icon.width ~ 'px' }};
    height: {{ module.style.desktop.icon.width ~ 'px' }};
  } 

  #{{ name }} .features__inner__item__inner__text__title {
    font-size: {{ module.style.desktop.title.font_size ~ 'px' }};
    line-height: {{ module.style.desktop.title.line_height ~ 'px' }};
    font-weight: {{ module.style.desktop.title.font_weight }};
    color: var(--{{ module.style.title_color }});
  }   

  #{{ name }} .features__inner__item__inner__text__description {
    font-size: {{ module.style.desktop.description.font_size ~ 'px' }};
    line-height: {{ module.style.desktop.description.line_height ~ 'px' }};
    font-weight: {{ module.style.desktop.description.font_weight }};
    color: var(--{{ module.style.description_color }});
  }           

  @media (max-width: 1024px) {
    #{{ name }}  {
      text-align: {{ module.style.tablet.text_alignment }};
      {{ module.style.tablet.spacing.css }}
    }  

    #{{ name }} .features__inner__item__inner {
      align-items: {{ module.style.tablet.alignment }};
      gap: {{ module.style.tablet.feature.gap ~ 'px' }};
      {% if module.style.tablet.feature.background_color != 'transparent' %}
      background-color: var(--{{ module.style.tablet.feature.background_color }});
      {% endif %}
      {% if  module.style.tablet.feature.border.radius > 0 %}
      border-radius: {{ module.style.tablet.feature.border.radius ~ 'px' }};
      {% endif %}
      border: unset;
      {{ module.style.tablet.feature.border.style.css }}
      {{ module.style.tablet.feature.spacing.css }}
    }

    #{{ name }} .features__inner__item__inner__icon img {
      width: {{ module.style.tablet.icon.width ~ 'px' }};
      height: {{ module.style.tablet.icon.width ~ 'px' }};
    } 


    #{{ name }} .features__inner__item__inner__text {
      text-align: {{ module.style.desktop.text_alignment }};
      gap: {{ module.style.tablet.feature.text_spacing ~ 'px' }};
    }       

    #{{ name }} .features__inner__item__inner__text__title {
      font-size: {{ module.style.tablet.title.font_size ~ 'px' }};
      line-height: {{ module.style.tablet.title.line_height ~ 'px' }};
      font-weight: {{ module.style.tablet.title.font_weight }};
    }   

    #{{ name }} .features__inner__item__inner__text__description {
      font-size: {{ module.style.tablet.description.font_size ~ 'px' }};
      line-height: {{ module.style.tablet.description.line_height ~ 'px' }};
      font-weight: {{ module.style.tablet.description.font_weight }};
    }                       
  }

  @media (max-width: 768px) {
    #{{ name }}  {
      text-align: {{ module.style.mobile.text_alignment }};
      {{ module.style.mobile.spacing.css }}
    }           

    #{{ name }} .features__inner__item__inner {
      align-items: {{ module.style.mobile.alignment }};
      gap: {{ module.style.mobile.feature.gap ~ 'px' }};
      {% if module.style.mobile.feature.background_color != 'transparent' %}
      background-color: var(--{{ module.style.mobile.feature.background_color }});
      {% endif %}
      {% if  module.style.mobile.feature.border.radius > 0 %}
      border-radius: {{ module.style.mobile.feature.border.radius ~ 'px' }};
      {% endif %}
      border: unset;
      {{ module.style.mobile.feature.border.style.css }}
      {{ module.style.mobile.feature.spacing.css }}
    }

    #{{ name }} .features__inner__item__inner__icon img {
      width: {{ module.style.mobile.icon.width ~ 'px' }};
      height: {{ module.style.mobile.icon.width ~ 'px' }};
    } 

    #{{ name }} .features__inner__item__inner__text {
      text-align: {{ module.style.mobile.text_alignment }};
      gap: {{ module.style.mobile.feature.text_spacing ~ 'px' }};
    }        

    #{{ name }} .features__inner__item__inner__text__title {
      font-size: {{ module.style.mobile.title.font_size ~ 'px' }};
      line-height: {{ module.style.mobile.title.line_height ~ 'px' }};
      font-weight: {{ module.style.mobile.title.font_weight }};
    }   

    #{{ name }} .features__inner__item__inner__text__description {
      font-size: {{ module.style.mobile.description.font_size ~ 'px' }};
      line-height: {{ module.style.mobile.description.line_height ~ 'px' }};
      font-weight: {{ module.style.mobile.description.font_weight }};
    }                          
  }
</style>
{% end_require_css %}