button, .button {
    display: inline-flex;
    background: {{ theme.buttons.background_color }};
    {% if theme.buttons.border_width > 0 %}
    border: {{ theme.buttons.border_width ~ 'px' }} solid {{ theme.buttons.border_color }};
    {% endif %}
    {% if theme.buttons.border_radius > 0 %}
    border-radius: {{ theme.buttons.border_radius ~ 'px' }};
    {% endif %}
    color: {{ theme.buttons.text_color }};
    font-weight: {{ theme.buttons.font_weight }};
    white-space: nowrap;
    {{ theme.buttons.spacing.css }}
}