body {
    position: relative;
    overflow-x: hidden;
}

.dnd-section .row-fluid:has([class*="span"]),
.dnd-section .dnd-column,
.dnd-section .row-fluid > [class*="span"] {
    display: flex;
}

.dnd-section[class*="vertical-alignment"] .dnd-column {
    justify-content: center;
}

.dnd-section .dnd-column {
    flex-flow: column;
}

.dnd-section .row-fluid {
    flex-flow: row wrap;
    justify-content: space-between;
}

.dnd-section .dnd-module {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .dnd-section .dnd-column .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .dnd-section .dnd-column .hide-on-tablet {
        display: none;
    }
}

@media (max-width: 1024px) {
    .dnd-section .row-fluid > [class*="-hidden"]  {
        display: none;
    }
}