body {
    position: relative;
    overflow-x: hidden;
}

.dnd-section .row-fluid:has([class*="span"]),
.dnd-section .dnd-column,
.dnd-section .row-fluid > [class*="span"] {
    display: flex;
}

.dnd-section .row-fluid {
    flex-flow: row wrap;
    justify-content: space-between;
}

.dnd-section .dnd-module {
    justify-content: flex-end;
}

.dnd-section:has(.hs_cos_wrapper > .has-overflow) {
    overflow: hidden;
}

.dnd-section.horizontal-strokes {
    border-top-width: {{ theme.layout.horizontal_strokes_section.border_width ~ 'px' }};
    border-bottom-width: {{ theme.layout.horizontal_strokes_section.border_width ~ 'px' }};
    border-style: normal;
    border-color: var(--{{ theme.layout.horizontal_strokes_section.border_color }});
}

.dnd-module:has(.vertical-align-top-xl) { justify-content: flex-start; }
.dnd-module:has(.vertical-align-center-xl) { justify-content: center; }
.dnd-module:has(.vertical-align-bottom-xl) { justify-content: flex-end; }

.dnd-section.all-strokes {
    border: {{ theme.layout.all_strokes_section.border_width ~ 'px' }} solid var(--{{ theme.layout.all_strokes_section.border_color }})
}

@media (max-width: 768px) {
    .dnd-section .dnd-column .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .dnd-section .dnd-column .hide-on-tablet {
        display: none;
    }
}

@media (max-width: 1024px) {
    .dnd-section .row-fluid > [class*="-hidden"]  {
        display: none;
    }
}

@media (min-width: 1024px) {
    .dnd-section.rounded-section  {
        max-width: {{ theme.layout.xl.max_width ~ 'px' }};
        margin-inline: auto;
        border-radius: 1.5rem;
    }
}