body {
    position: relative;
    overflow-x: hidden;
}

.dnd-section .row-fluid:has([class*="span"]),
.dnd-section .dnd-column,
.dnd-section .row-fluid > [class*="span"] {
    display: flex;
}

.dnd-section[class*="vertical-alignment"] .dnd-column {
    justify-content: center;
}

.dnd-section .dnd-column {
    flex-flow: column;
}

.dnd-section .row-fluid:has([class*="span"]) {
    justify-content: space-between;
}