:root {
    --span1-width: 8.333%;
    --span2-width: 16.666%;
    --span3-width: 25%;
    --span4-width: 33.333%;
    --span5-width: 41.666%;
    --span6-width: 50%;
    --span7-width: 58.333%;
    --span8-width: 66.666%;
    --span9-width: 75%;
    --span10-width: 83.333%;
    --span11-width: 91.666%;
    --span12-width: 100%;    
}

.span1 { 
    flex: 0 0 var(--span1-width); 
    width: var(--span1-width); 
}

.span2 { 
    flex: 0 0 var(--span2-width); 
    width: var(--span2-width); 
}

.span3 { 
    flex: 0 0 var(--span3-width); 
    width: var(--span3-width); 
}

.span4 { 
    flex: 0 0 var(--span4-width); 
    width: var(--span4-width); 
}

.span5 { 
    flex: 0 0 var(--span5-width); 
    width: var(--span5-width); 
}

.span6 { 
    flex: 0 0 var(--span6-width); 
    width: var(--span6-width); 
}

.span7 { 
    flex: 0 0 var(--span7-width); 
    width: var(--span7-width); 
}

.span8 { 
    flex: 0 0 var(--span8-width); 
    width: var(--span8-width); 
}

.span9 { 
    flex: 0 0 var(--span9-width); 
    width: var(--span9-width); 
}
.span10 { 
    flex: 0 0 var(--span10-width); 
    width: var(--span10-width); 
}
.span11 { 
    flex: 0 0 var(--span11-width); 
    width: var(--span11-width); 
}
.span12 { 
    flex: 0 0 var(--span12-width); 
    width: var(--span12-width); 
}

.dnd-section .row-fluid {
    row-gap: {{ theme.layout.xl.rows_gap ~ 'px' }};
    margin-inline: auto;
}

.dnd-section.small .row-fluid {
    row-gap: {{ theme.layout.xl.small_sections.rows_gap ~ 'px' }};
}

.dnd-section .row-fluid > [class*="span"] {
    flex-flow: column;
    row-gap: {{ theme.layout.xl.rows_gap ~ 'px' }};
    padding-left: {{ theme.layout.xl.columns_gap ~ 'px' }};
    padding-right: {{ theme.layout.xl.columns_gap ~ 'px' }};
}

.dnd-section.small .row-fluid > [class*="span"] {
    row-gap: {{ theme.layout.xl.small_sections.rows_gap ~ 'px' }};
}
    
.dnd-section .dnd-row > .row-fluid {
    row-gap: {{ theme.layout.xl.rows_gap ~ 'px' }};
    margin-left: calc({{ theme.layout.xl.columns_gap ~ 'px' }} * -1);
    margin-right: calc({{ theme.layout.xl.columns_gap ~ 'px' }} * -1);
}

.dnd-section.small .dnd-row > .row-fluid {
    row-gap: {{ theme.layout.xl.small_sections.rows_gap ~ 'px' }};
}
    
.container-fluid:not(.header-container) .dnd-section:first-of-type {
    {{ theme.layout.xl.first_section.spacing.css }}
}

.container-fluid:not(.header-container) .dnd-section > .row-fluid {
    max-width: {{ theme.layout.xl.max_width ~ 'px' }};
}

.container-fluid:not(.header-container) .dnd-section {
    {{ theme.layout.xl.sections.spacing.css }}
}   

.container-fluid:not(.header-container) .dnd-section.small {
    {{ theme.layout.xl.small_sections.spacing.css }}
}           
@media (max-width: 1024px) {
    :root {
        --span1-width: 100%;
        --span2-width: 100%;
        --span3-width: 100%;
        --span4-width: 100%;
        --span5-width: 100%;
        --span6-width: 100%;
        --span7-width: 100%;
        --span8-width: 100%;
        --span9-width: 100%;
        --span10-width: 100%;
        --span11-width: 100%;
        --span12-width: 100%;    
    }
    .container-fluid:not(.header-container) .dnd-section:first-of-type {
        {{ theme.layout.md.first_section.spacing.css }}
    }    
    .container-fluid:not(.header-container) .dnd-section {
        {{ theme.layout.md.sections.spacing.css }}
    }
    .container-fluid:not(.header-container) .dnd-section.small {
        {{ theme.layout.md.small_sections.spacing.css }}
    }               
    .container-fluid:not(.header-container) .dnd-section > .row-fluid {
        max-width: {{ theme.layout.md.max_width ~ 'px' }};
    }
    .dnd-section .row-fluid {
        row-gap: {{ theme.layout.md.rows_gap ~ 'px' }};
    }       
    
    .dnd-section.small .row-fluid {
        row-gap: {{ theme.layout.md.small_sections.rows_gap ~ 'px' }};
    }            
}

@media (max-width: 768px) {
    .container-fluid:not(.header-container) .dnd-section:first-of-type {
        {{ theme.layout.xs.first_section.spacing.css }}
    }    
    .container-fluid:not(.header-container) .dnd-section {
        {{ theme.layout.xs.sections.spacing.css }}
    }
    .container-fluid:not(.header-container) .dnd-section.small {
        {{ theme.layout.xs.small_sections.spacing.css }}
    }               
    .dnd-section .row-fluid {
        row-gap: {{ theme.layout.xs.rows_gap ~ 'px' }};
    }    
    .dnd-section.small .row-fluid {
        row-gap: {{ theme.layout.xs.small_sections.rows_gap ~ 'px' }};
    }           
}