<div id="{{ name }}" class="buttons">
  <div class="buttons__inner flex">
    {% for item in module.button %}
    {% set href = item.url.url.href %}
    {% if item.url.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a class="button inline-flex relative" href="{{ href|escape_url }}"
       {% if item.url.open_in_new_tab %}target="_blank"{% endif %}
       {% if item.url.rel %}rel="{{ item.url.rel|escape_attr }}"{% endif %}
       >
      <span class="relative z-10">{{ item.text }}</span>
    </a>
    {% endfor %}
  </div>
</div>
{% require_css %}
<style>
  #{{ name }} {
    justify-content: {{ module.style.mobile.horizontal_alignment }};
    {{ module.style.mobile.spacing.css }}
  }

  @media (min-width: 768px) {
    #{{ name }} {
      justify-content: {{ module.style.tablet.horizontal_alignment }};
      {{ module.style.tablet.spacing.css }}
    }  
  }
  
  @media (min-width: 1024px) {
    #{{ name }} {
      justify-content: {{ module.style.desktop.horizontal_alignment }};
      {{ module.style.desktop.spacing.css }}
    }  
  }  
</style>
{% end_require_css %}