.hs_cos_wrapper_type_menu {
    width: 100%;
}

.hs-menu-wrapper,
.hs-menu-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hs-menu-wrapper ul {
    column-gap: 1rem;
}